.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 70px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.topnav{
  background-color: black;
  font-size: 30px;
  height: 50px;
}
.topnav a{
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:active{
  background-color: #04AA6D;
  color: white;
}

.topnav a:hover{
  background-color: #04AA6D;
  color: white;
  height:40px;
}

.search-bar{
  position: absolute;      /* Position relative to the nearest positioned ancestor */
  top: 10px;               /* 10px from the top of the parent container */
  right: 10px;             /* 10px from the right side of the parent container */
  
}
.bar{
  background-color: lightgray;
  border-radius: 5px; /* Curve */
  width: 300px;       /* Width of the search bar */
  height: 10px; 
  padding: 5px;
}

.topnav .right{
  position: absolute;  /* Position relative to the nearest positioned ancestor (topnav) */
  top: 0px;           /* 10px from the top of the parent container */
  right: 350px;         /* 10px from the right side of the parent container */

}
.bg{
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontally center the container */
  align-items: center; /* Vertically center the container */
  flex-wrap: wrap;
}
.login-container{
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 15px;
  color: darkgray;
  border-radius: 5px;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.button{
  display: block; /* Ensures it's treated as a full-width block */
  margin: 20px auto; /* Centers it horizontally */
  padding: 10px 20px; /* Adjust padding for a better look */
  text-align: center; /* Centers the text inside the button */
  background-color: #4CAF50; /* Example color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}


.image-container {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
  padding: 20px;
}

.image-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: visible; 
  width: 150px; 
  min-height: 250px; 
  


}


.image-card p {
  margin-top: 5px;
  font-size: 16px;
  color: white; 
  text-align: center;
}
.popup{
  position: absolute;
  bottom: 89px; 
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background for popup */
  color: white;
  margin: 0 auto; /* Center the popup*/

  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
  font-size: 12px;
  text-align: center;
  visibility: hidden;
}
.image-card a:hover ~ .popup { /* Find a popup that comes after a hovered link*/

  visibility: visible;
}

.popup:hover{
  visibility: visible;
}


#top-header{
  position: relative;
  color:white;
  bottom:90px;
}
.Top-container {
  background-color: #282c34;
  display: grid;
  padding: 80px;
}

.list-container {
  position: relative;
  margin: 50px;
}

.list-link {
  color: black;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.List {
  height: 110px;
  width: 10000px;
  background-color: white;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  display: flex;
  
}

.Ranking {
  position: absolute;
  left: -60px;
  bottom:40px;
  font-size: 20px;
  color: white;
  
}

.stats {
  text-decoration: none;
  font-size:18px;
}

.score{
  position: relative;
  left: 600px;
  bottom: 10px;

}

.type{
  position: relative;
  left: 800px;
  bottom:135px;

}
.member-count{
  position: relative;
  left: 600px;
  bottom: 10px;
  
}
.episode-count{
  position: relative;
  left: 800px;
  bottom: 175px;
}

.status{
  position: relative;
  left: 1000px;
  bottom: 90px;
}

.season{
  position: relative;
  left: 1000px;
  bottom: 130px;
}
.title{
  position: relative;
  left: 10px;
  bottom:20px;
  font-size: 15px;
}

.info{
  position: relative;
  flex-direction: column;
  

  bottom: -30px;
}

.categories{
  display: flex;
  gap: 8px;

}
.category-tag{
  border-style:solid;
  border-radius:20px;
  padding: 4px 12px;
  color:white;
}
.category-tag.action{
  background-color: tomato;
}
.category-tag.adventure{
  background-color: orange;
}
.category-tag.comedy{
  background-color: #8B8000 ;
}
.category-tag.romance{
  background-color: pink;
}
.category-tag.fantasy{
  background-color: purple;
}
.category-tag.drama{
  background-color: lightblue;
}

.category-tag.sci-fi{
  background-color: green;
}

.category-tag.award-winning{
  background-color: goldenrod;
}
.category-tag.supernatural{
  background-color: gray;
}
.category-tag.mystery{
  background-color: black;
}
.category-tag.suspense{
  background-color: darkred;
}
/* Optional hover effect */
.List:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
